*{
    margin: 0;
    padding: 0;
}
.khungtren{
    width:2000px;
    height: 250px;
}
#hinhanh{
    width: 302px;
    height: 167px;
    float: left;
    transition: 0.5s;
}
.hinh1{
    width: 440px;
    height: 230px;
    float: left;
    margin-bottom: 10px;
}
.hinh2{
    width: 440px;
    height: 230px;
    float: left;
    margin-bottom: 10px;
}
#hinh3{
    width: 440px;
    height: 230px;
    float: left;
 
}
h1{
    font-size: 40px;
    float: left;
    margin-left: 100px;
}
#logo{
    font-size: 40px;
    transition: 0.5s;
}
.header{
    width: 2000px;
    height: 167px;
    padding: 50px 20px;
    position: fixed;
    background-color: white;
    top:0;
    transition: 0.5s;
}
.menu{
    left: 0;
    height:61px;
    width: 1900px;
    background-color:green;
    position: fixed;
    top: 220px;
    transition: 0.5s;
}
.noidung{
    width: 750px;
    height: 200px;
    float: left;
    padding-top: 100px;
    margin-right: 30px;
}
.khungphai{
    margin-top: 100px;
    width: 440px;
    height: 1000px;
    float: left;
}
.menu ul{
  
    list-style: none;
}

.menu ul li{
   
    float:left ;
}

.menu ul li:hover a{
    background-color: gray;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 10px 10px;
    color: cornsilk;
}
.noidung a{
    text-decoration: none;
    font-size: 40px;
	float:left;
}
p{
    font-size: 30px;
}

.hieuung1{
    position: fixed;
    top:250px;
}




li.cha{
    position: relative;
}
li button{
    padding: 10px;
    font-size: 20px;
 }
.khung{ 
    position: absolute;
    top:100px;
    left: 0;
    z-index: 1;
    width: 400px;
    opacity: 0;
}
.khung input{
    width: 250px;
    height: 50px;
    background-color: black;
    color: blanchedalmond;
    font-size: 20px;
    padding-left: 30px;
}
.hieuung{
    left: 100px;
    opacity: 1;
    top:0px;
    transition: 0.5s;
}